@keyframes service-hover {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes initial-out {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

._animated-item-1, ._animated-item-2, ._animated-item-3 {
    opacity: 0;
}
.animate-fade-out {
    animation: initial-out .5s ease-out;
    opacity: 1;
}

@keyframes hover-menu {
    from {
        width: 0;
    }
    to {
        width: 120%;
    }
}