@media (max-width: 1400px) {
    .container {
        width: 1140px;
    }

    .mission {
        &__img {
            width: 478px;
        }

        &__descr {
            width: 571px;
        }
    }

    .about {
        &__img {
            width: 478px;
        }

        &__descr {
            width: 571px;
        }
    }

    .projects__grid-item {
        height: 261px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
    }

    .header {
        &__logo {
            width: 231px;
        }
    }

    .menu {
        column-gap: 45px;
    }
    .fixed-menu .menu {
        -moz-column-gap: 45px;
        column-gap: 14px;
    }

    .mission {
        &__img {
            width: 402px;
        }

        &__descr {
            width: 503px;
            font-size: 18px;
            line-height: 26px;
        }
    }

    .about {
        &__img {
            width: 402px;
        }

        &__descr {
            width: 503px;
            font-size: 18px;
            line-height: 26px;
        }
    }

    .contacts {
        &__block {
            padding: 50px 58px;
        }
    }

    .contacts__success {
        margin-right: 0;
    }

    .services__grid-item .services__inner-text {
        padding: 0 30px;
    }
        
    .projects__grid-item {
        height: 217px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }

    .header {
        &__logo {
            width: 211px;
        }
    }

    .menu {
        column-gap: 10px;

        &__link {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .fixed-menu {
        height: 80px;
        padding: 0 20px;
        a {
            width: 215px;
        }
        .menu-item:before {
            top: 49px;
        }
    }

    .promo {
        &__title {
            width: 100%;
        }
    }

    .mission {
        &__subtitle {
            width: 80%;
            font-size: 24px;
            line-height: 36px;
        }

        &__img {
            width: 327px;
        }

        &__descr {
            width: 373px;
            font-size: 16px;
            line-height: 24px;
        }
    }

    .about {
        &__subtitle {
            width: 80%;
            font-size: 24px;
            line-height: 36px;
        }

        &__img {
            width: 327px;
        }

        &__descr {
            width: 373px;
            font-size: 16px;
            line-height: 24px;
        }
    }

    .services__grid-item .services__inner-text {
        font-size: 16px;
        padding: 0 20px;
    }

    .projects {
        &__grid {
            &-item {
                padding: 20px;
            }
        }
    }

    .projects__grid-item {
        height: 157px;

        &-title {
            font-size: 14px;
            line-height: 21px;
        }
    }

    .blog {
        &__descr {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .contacts {

        &__block {
            padding: 40px 28px;
        }

        &__form {

            input {
                width: 352px;
                height: 50px;
            }
        }
    }

    .footer {
        &__wrapper {
            height: 120px;
        }

        &__info {
            height: 120px;

            &-company {
                font-size: 16px;
                line-height: 16px;
            }

            &-adress {
                font-size: 16px;
                line-height: 24px;
            }
        }

        &__contacts {
            height: 120px;

            &-number {
                font-size: 16px;
                line-height: 16px;
            }

            &-social {
                width: 100px;
            }
        }

        &__privacy {
            height: 120px;

            &-policy {
                font-size: 16px;
                line-height: 16px;
            }

            &-copyright {
                font-size: 16px;
                line-height: 24px;

                span {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }

    .title {
        font-size: 40px;
        line-height: 51px;
    }

    .header {
        &__logo {
            width: 151px;
            height: 33px;
        }
    }

    .menu {
        column-gap: 15px;

        &__link {
            font-size: 14px;
            line-height: 21px;
        }
    }
    .fixed-menu {
        height: 60px;
        a {
            width: 110px;
        }
        .menu {
            column-gap: 0px;
        }
        .menu-item:before {
            top: 39px;
        }
    }

    .promo {
        min-height: 800px;
        padding: 20px;

        &__title {
            margin-top: 245px;
            width: 100%;
            font-size: 50px;
        }
    }

    .mission {

        &__block {
            margin-top: 24px;
            gap: 24px;
            flex-direction: column;
        }

        &__img {
            width: 80%;
        }

        &__descr {
            width: 80%;
        }
    }

    .services {
        &__grid {
            grid-template-columns: 1fr 1fr;

            &-item {
                padding: 30px 20px;
            }

            &-title {
                font-size: 18px;
                line-height: 27px;
            }
        }
    }

    .about {
        &__wrapper {
            margin-top: 24px;
            gap: 24px;
            flex-direction: column;
        }

        &__img {
            width: 80%;
        }

        &__descr {
            width: 80%;
        }
    }

    .projects {
        &__grid {
            grid-template-columns: 1fr 1fr;

            &-item {
                padding: 20px 30px 20px 20px;
            }
        }
    }

    .blog {

        &__descr {
            font-size: 14px;
            line-height: 21px;
        }
    }

    .contacts {
        &__block {
            padding-top: 56px;
            justify-content: start;
            flex-direction: column;
            gap: 25px;
        }

        &__wrapper {
            justify-content: start;
            gap: 6px;
        }

        &__title {
            text-align: center;
            font-size: 40px;
            line-height: 51px;
        }

        &__subtitle {
            text-align: center;
        }

        img {
            height: 50px;
        }
    }

    .footer {
        padding: 60px 0 51px 0;

        &__wrapper {
            height: 100px;
        }

        &__info {
            height: 100px;

            &-company {
                font-size: 14px;
                line-height: 14px;
            }

            &-adress {
                width: 140px;
                font-size: 14px;
                line-height: 21px;
            }
        }

        &__contacts {
            height: 100px;

            &-number {
                font-size: 14px;
                line-height: 14px;
            }

            &-social {
                width: 80px;

                &-item {
                    height: 32px;
                }

                svg {
                    width: 32px;
                    height: 32px;
                }
            }
        }

        &__privacy {
            height: 100px;

            &-policy {
                font-size: 14px;
                line-height: 14px;
            }

            &-copyright {
                font-size: 14px;
                line-height: 21px;

                span {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }
    }


}

@media (max-width: 576px) {
    .container {
        width: 405px;
    }

    .promo {
        min-height: 667px;

        &__title {
            text-align: center;
            margin: 0 auto;
            margin-top: 169px;
            width: 348px;
            font-size: 32px;
            line-height: 39px;
        }

        &__descr {
            text-align: center;
            margin-top: 24px;
            font-size: 14px;
            line-height: 21px;
        }
    }

    .fixed-menu {
        .menu {
            display: none;
        }
        .hamburger {
            display: flex;
        }
    }
    .header {
        display: none;
    }

    .title {
        padding-top: 50px;
        font-size: 32px;
        line-height: 39px;
    }

    .mission {
        padding-top: 0;
        padding-bottom: 0;

        &__block {
            margin-top: 24px;
            gap: 24px;
            flex-direction: column;
        }

        &__subtitle {
            width: 100%;
            margin-top: 24px;
            font-size: 16px;
            line-height: 24px;
        }

        &__img {
            width: 100%;
        }

        &__descr {
            width: 100%;
            font-size: 14px;
            line-height: 21px;
        }
    }

    .button {
        width: 100%;
    }

    .services {
        padding-bottom: 0;

        &__grid {
            margin-top: 21px;
            margin-bottom: 36px;
            grid-template-columns: 1fr 1fr;

            &-item {
                height: 170px;
                padding: 20px 12px;
                justify-content: center;
                align-items: center;
                gap: 16px;

                &-icon {
                    width: 32px;
                    height: 32px;
                }

                &-title {
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                }
            }
        }
    }

    .about {
        padding-bottom: 0;

        &__wrapper {
            margin-top: 24px;
            gap: 24px;
            flex-direction: column;
        }

        &__img {
            width: 100%;
        }

        &__descr {
            width: 100%;
            font-size: 14px;
            line-height: 21px;
        }

        &__subtitle {
            width: 100%;
            margin-top: 24px;
            font-size: 16px;
            line-height: 24px;
        }
    }

    .projects {
        padding-bottom: 50px;

        &__grid {
            margin-top: 24px;
            grid-template-columns: 1fr;
            row-gap: 16px;

            &-item {
                height: 228px;

                &-title {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }
    }

    .blog {
        padding-bottom: 47px;

        &__wrapper {
            margin-top: 24px;
            margin-bottom: 36px;
            grid-template-columns: 1fr;
            row-gap: 24px;
        }

        &__item {
            min-height: 300px;
        }

        &__descr {
            margin-top: 6px;
            font-size: 14px;
            line-height: 21px;
        }
    }

    .contacts {

        &__block {
            padding: 56px 24px 45px 24px;
            justify-content: start;
            flex-direction: column;
            gap: 50px;
            background: url("../img/contacts_shape.png") center top no-repeat;
        }

        &__wrapper {
            min-height: 70px;
            justify-content: start;
            gap: 16px;
        }

        &__title {
            text-align: center;
            font-size: 32px;
            line-height: 39px;
        }

        &__subtitle {
            text-align: center;
        }

        &__form {
            input {
                padding: 11px 27px 12px 27px;
                width: 100%;
                height: 50px;
            }
        }

        &__button {
            margin-top: 24px;
            position: static;
            width: 100%;
            height: 44px;
        }
    }

    .footer {
        padding: 50px 0 59px 0;
        min-height: 439px;

        &__wrapper {
            flex-direction: column;
            justify-content: start;
            gap: 24px;
            align-items: start;
        }

        &__info {
            justify-content: start;
            gap: 13px;
            height: 100px;

            &-company {
                font-size: 16px;
                line-height: 24px;
            }

            &-adress {
                width: 125px;
                font-size: 14px;
                line-height: 21px;
            }
        }

        &__contacts {
            height: 86px;
            justify-content: start;
            gap: 24px;

            &-number {
                font-size: 20px;
                line-height: 30px;
            }

            &-social {
                margin: 0;
                width: 102px;
            }
        }

        &__privacy {
            height: 96px;
            justify-content: start;
            gap: 24px;

            &-policy {
                text-align: left;
                font-size: 16px;
                line-height: 24px;
            }

            &-copyright {
                text-align: left;
                font-size: 16px;
                line-height: 24px;

                span {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .container {
        width: 325px;
    }

    .promo {
        &__title {
            width: 248px;
        }
    }

    .services__grid-item .services__inner-text {
        font-size: 14px;
        padding: 0 10px;
    }
    .promo__title {
        margin-top: 239px;
    }
}

@media (max-width: 375px) {
    .container {
        width: 280px;
    }

    .projects__grid-item {
        height: 194px;
    }
}